CzytajExcel1/CzytajExcel1/CzytajExcel1/bin/
CzytajExcel1/CzytajExcel1/CzytajExcel1/obj/
CzytajExcel1/CzytajExcel1/ScheduleApp/bin/
CzytajExcel1/CzytajExcel1/ScheduleApp/obj/
CzytajExcel1/CzytajExcel1/ScheduleReader/bin/
CzytajExcel1/CzytajExcel1/ScheduleDataModel/obj/
CzytajExcel1/CzytajExcel1/ScheduleReader/obj/
CzytajExcel1/CzytajExcel1/ScheduleDataModel/bin/
